* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

/* Header Section */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    background-color: #fff;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo span {
    font-family: "Montserrat", serif;
}

.logo img {
    width: 30px;
    margin-right: 0.2rem;
}

.nav-links {
    display: flex;
    gap: 4rem;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
}

.header-icons {
    display: flex;
    gap: 2rem;
}

/* Cart Banner Section */
.cart-banner {
    height: 300px;
    background: url('images/banner.jpeg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cart-banner-content {
    padding: 1rem 2rem;
    border-radius: 8px;
}

.cart-banner-content p {
    font-size: 3rem;
    font-weight: 500;
}

.breadcrumb a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}